/* Custom CSS */


/* Fonts */
@font-face {
    font-family: "BebasNeue-Bold";
    src: url("fonts/BebasNeue-Bold.otf") format("otf");
    src: url("fonts/BebasNeue-Bold.ttf") format("otf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue-Book";
    src: url("fonts/BebasNeue-Book.otf") format("otf");
    src: url("fonts/BebasNeue-Book.ttf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue-Light";
    src: url("fonts/BebasNeue-Light.otf") format("otf");
    src: url("fonts/BebasNeue-Light.ttf") format("otf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("fonts/BebasNeue-Regular.otf") format("otf");
    src: url("fonts/BebasNeue-Regular.ttf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue-Thin";
    src: url("fonts/BebasNeue-Thin.otf") format("otf");
    src: url("fonts/BebasNeue-Thin.ttf") format("otf");
    font-weight: 100;
    font-style: normal;
}

