/* Custom CSS */


/* Fonts */
@font-face {
    font-family: 'BebasNeue-Bold';
    src: url('fonts/bold/BebasNeue-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/bold/BebasNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/bold/BebasNeue-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/bold/BebasNeue-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/bold/BebasNeue-Bold.svg#BebasNeue-Bold') format('svg'); /* Legacy iOS */ 
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Book';
    src: url('fonts/book/BebasNeue-Book.eot'); /* IE9 Compat Modes */
    src: url('fonts/book/BebasNeue-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/book/BebasNeue-Book.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/book/BebasNeue-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/book/BebasNeue-Book.svg#BebasNeue-Book') format('svg'); /* Legacy iOS */ 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Light';
    src: url('fonts/light/BebasNeue-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/light/BebasNeue-Light?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/light/BebasNeue-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/light/BebasNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/light/BebasNeue-Light.svg#BebasNeue-Light') format('svg'); /* Legacy iOS */ 
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('fonts/regular/BebasNeue-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/regular/BebasNeue-Regular?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/regular/BebasNeue-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/regular/BebasNeue-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/regular/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue-Thin';
    src: url('fonts/thin/BebasNeue-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/thin/BebasNeue-Thin?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/thin/BebasNeue-Thin.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/thin/BebasNeue-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/thin/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}


/* General Layout, Body, Headings */
body {
    font-family: "BebasNeue-Thin", sans-serif;
    background-color: #070707;
    font-size: 17px;
    letter-spacing: 0.0625em;
}

h1 {
    font-family: "BebasNeue-Bold", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "BebasNeue-Regular", sans-serif;
}

.container .content-section .text-center {
    height: 100%;
}


/* Buttons and Lists */
.btn {
    font-family: "BebasNeue-Thin", sans-serif;
}

.list-group-item {
    padding: 15px 15px;
    background-color: #070707;
    border: none;
}

.list-inline>li {
    margin-right: 8px;
    margin-left: 7px;
}


/* Nav */
.navbar-custom {
    font-family: "BebasNeue-Thin", sans-serif;
    font-size: large;
}

.navbar-brand {
    font-family: "BebasNeue-Bold", sans-serif;
    font-size: x-large;
}


/* Intro section */
.intro {
    background: url(../img/4john-with-gun-bg.png) no-repeat top center scroll;
    background-size: auto 100%;
    padding-top: 500px;
    padding-bottom: 0px;
}

.intro .intro-body{
    vertical-align: bottom;
}

.brand-heading {
    margin-bottom: 0px;
}

.intro-text {
    margin: 0 0 15px;
}

.btn-circle {
    margin-top: 0px;
    margin-bottom: 25px;
    border: none;
}


/* Carousel section */
.carousel-caption {
    position: initial;
}

.glyphicon {
    top: -45px;
}


/* Credits section */
.credit-name {
    font-size: 24px;
    margin-bottom: 15px;
}


/* Contact section */
#contact {
    padding-bottom: 180px;
}
